.record-container {
  margin-top: 20px;
}

.table-container {
  max-height: 300px;
  overflow-y: auto;
  margin-top: 2px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #dddddd;
}

.table th {
  background-color: #007bff;
  color: #ffffff;
  text-align: left;
}

.scroll-message {
  text-align: center;
  margin-top: 10px;
  color: #007bff;
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #007bff;
  color: #ffffff;
  z-index: 1;
}
